html, body {
	height: 100%;
}

/* CONTENT */
#content {
	position: relative;
	width: auto;
	height: 100%;
}

#content > div {
	display: none;
	height: 100%;
	width: auto;
}

/* DEALER LIST TAB */
.list:nth-child(odd) {
	background-color: #cccccc;
}
.list:nth-child(even) {
	background-color: #ccddcc;
}
.ele:nth-child(1) {
	font-weight: bold;
} 


/* FOOTER */
#bottom_menu_bar {
	position: fixed;
	bottom: 0;
	width: 100%;
}

.button_bar {
	width: 20%;
}

/* px vs em ? */
